body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

form {
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
}
